
<P id="notice"><%= notice %></p>
  <%= image_tag @portfolio.main_image%>
<p>
  <h1>tittle:</h1>
  <%= @portfolio.tittle %>
</p>
<p>
  <em>subTittle:</em>
  <%= @portfolio.subtittle %>
</p>

<p>
  <p>Body:</p>
  <%= @portfolio.body %>
</p>